#pokedex-card {
    min-height: 50vh;
    background-color:  #FB6C6C;
    color: white;
    padding: 24px;
}

body {
    margin: 0;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 100px;
    margin-top: -40px;
    background-color: gray;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 150px;
    background-color: #ffcc00c0;
    width: 100vw;
    
}

header img {
    height: 80px;
}

input {
    height: 50px;
    background-color: transparent;
    border-style: none;
    width: 250px;
}

input::placeholder {
    color:white;
    font-size: 24px;
}

